body {
    font-family: arial, serif;
    font-size: 16px;
}

table {
    margin: 0 auto;
    border-spacing: 15px;
}

#checkbox {
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 15px;
}

td {
    border-radius: 15px;
    text-align: center
}



.y_button.pressed {
    background: lightpink;
}